.btn {
    width: 100%;
    text-align: center;
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #fff;
    color: #1E2938;
    border: 1px solid #1E2938;
    text-transform: capitalize;
}

.btn-primary {
    background-color: #1E2938;
    color: #fff;
}

.btn-secondary {
    background-color: #fff;
    color: #1E2938;
    border: 1px solid #1E2938;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 48px;
    border-bottom: 1px solid #d9d9d9;
}