.input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px 25px;
}

.input-wrapper label {
    font-size: 14px;
    font-weight: bold;
}

.input-wrapper input {
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #b6b5b5;
}